@use '../variable/font';
@import '../mixin/mixin';

.title-container{
    @include dimension(1300px, 200px);
    @include flexbox(center, center);
    margin: auto;

    .title{
        font-family: font.$primary;
        font-weight: 400;
        font-size: 70px;
        letter-spacing: 10px;
        text-transform: uppercase;
        text-align: center;
    }
}

@media screen and (min-width:320px) and (max-width:620px){
    .title-container{
        @include dimension(500px, 200px);
    
        .title{
            font-size: 50px;
            font-weight: 700;
        }
    }

}