@use '../../style/variable/font';
@use '../../style/variable/color';
@import '../../style/mixin/mixin';

.wrapper {
  @include wrapper;

    .hero-details {
        @include container;
        min-height: 400px;
        @include flexbox(space-around, center, row, wrap);
        border: 1px solid black;
        box-shadow: 2px 2px 20px black;

        .info-container {
        max-width: 600px;
        width: 100%;
        min-height: 300px;
        border-radius: 3px;

            .info {
                max-width: 600px;
                min-height: 100px;
                width: 100%;
                @include info;
                text-align: justify;
            }
        }

        .img-container {
        max-width: 600px;
        min-height: 300px;
        width: 100%;

            img {
                min-width:320px;
                height: auto;
                width: 100%;
            }
        }
    }
}

.img-info-wrapper {
    @include wrapper;
    background-color: color.$bgWrapperDark;

    .car-spec-container {
        @include container;
        @include flexbox(space-between, center, row, wrap);
        
            .img-container {
                @include dimension(650px, 450px);
                @include flexbox(space-evenly, center, row, wrap);
                gap: 20px;

                img {
                    max-width: 40%;
                    border-radius: 10px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

        .info-container {
            max-width: 500px;
            margin: auto;
            text-align: left;

                h3 {
                    @include h3;
                    color: white;
                    margin-bottom: 15px;
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        @include info;
                        margin-bottom: 10px;
                        color: white;

                        strong {
                            color: color.$textSecondary;
                        }
                    }
                }
            
        }
    }
}

    // Video container styles
    .video-container {
        @include container;
        margin-top: 60px;
        text-align: center;
        padding: 20px;

            .video-wrapper {
            position: relative;
            width: 90%;
            max-width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            margin: 0 auto;
            overflow: hidden;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
    }

.cta-container{
    @include container;
    margin-top: 60px;
    text-align: center;
    padding: 20px;

    h2 {
        @include h2;
        color: color.$heading;
        font-size: 50px;
        margin-bottom: 20px;
    }
}

.cta-section {
    @include container;
    min-height: 300px;
    @include flexbox(center, center, column);
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    background-color: inherit;

    h3 {
        @include h2;
        color: color.$textPrimary;
        font-size: 36px;
        margin-bottom: 15px;
    }

    p {
        @include info;
        color: color.$textPrimary;
        font-size: 18px;
        max-width: 700px;
        margin: 0 auto;
    }
}

  
  
  
  


