@use '../variable/color';
@use '../variable/font';
@import '../mixin/mixin';

.form-wrapper {
    @include container;
    background-color: color.$bgSecondary;
    padding: 30px 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .form-container {
        @include dimension(1200px);
        @include flexbox(space-around, center, row, wrap);
    
        .booking-form {
            @include dimension(500px);
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .form-group {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-bottom: 20px;
  
                label {
                    @include font-car-info;
                    color: color.$textPrimary;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                }
  
                select,
                input,
                textarea {
                    padding: 12px 15px;
                    font-family: font.$primary;
                    font-size: 16px;
                    color: color.$textPrimary;
                    width: 100%;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid color.$borderPrimaryForm;

                    &:hover {
                        border-bottom: 1px solid color.$textSecondary;
                        background-color: color.$bgHover;
                    }
                    
                    &:focus {
                        border-color: color.$textSecondary;
                        box-shadow: 0 0 5px rgba(250, 225, 85, 0.6);
                        outline: none;
                    }
                }
  
                select {
                    appearance: none;
                    background-size: 12px;
                    padding-right: 30px;
                }
  
                input[type="number"] {
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        margin: 0;
                        border: none;
                        border-bottom: 1px solid color.$borderPrimaryForm;
                    }
                }
  
                textarea {
                    resize: vertical;
                    min-height: 100px;
                    max-height: 300px;
                }
            }
  
            .checkbox-group {
                max-width: 300px;
                min-height: auto;
                width: 100%;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                font-family: font.$primary;
  
                label {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: color.$textPrimary;
        
                    input[type="checkbox"] {
                        margin-right: 8px;
                    }
                }
            }
  
            .submit-button {
                @include rentBtn;
                padding: 15px 40px;
                background-color: color.$bgBtn;
                border-color: color.$textGolden;
                margin-top: 15px;
                cursor: pointer;
    
                &:hover {
                    background-color: color.$bgBtnHover;
                    border-color: color.$textSecondary;
                }
    
                &:active {
                    background-color: color.$bgBtnActive;
                }
            }
        }
        .form-image{
            @include dimension(600px);
            @include flexbox;

            img{
                border-radius: 4px;
                box-shadow: 4px 4px 10px black;
            }
        }
    }

    .map {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    
        iframe {
            width: 100%;
            height: 400px;
            border: none;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
    }   
}
