@use '../../variable/color';
@use '../../variable/font';
@import '../../mixin/mixin';

.wrapper-services{
    @include wrapper;
    min-height: 100vh;
    display: flex;
    background-color: color.$bgWrapperDark;
    @include flexbox(space-between,center,column);
    
    .title-container{
        @include dimension(1300px, 200px);
        @include flexbox(center, center);
        margin: auto;
    
        .title{
            font-family: font.$primary;
            color: color.$textWhite;
            font-weight: 400;
            font-size: 70px;
            letter-spacing: 10px;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .services-card-container{
        @include container;
        @include flexbox(space-around, center, row, wrap);
        min-height: 1000px;
        margin-bottom: 40px;
        
        .service-card{
            @include dimension(300px, 450px);
            @include flexbox(space-around, center, column);
            background-color: color.$bgWrapper;
            border-radius:5px;
            box-shadow: 2px 2px 12px rgb(254, 121, 121);
            border-bottom:3px solid rgb(255, 255, 255);

            .service-image{
                width: 200px;
                border-radius:5px;
                box-shadow: 2px 2px 12px black;
            }

            .info-container{
                @include dimension(300px, 100px);
                @include flexbox(space-between, center, column);

                .service-title{
                    @include h3;
                    font-size: 20px;
                    font-weight: 700;
                }
    
                .service-info{
                    @include info;
                    font-size:12px;
                    text-align: center;
                }
    
                .cta{
                    @include cta-alternative;
                }
            }
        }
    }
}

@media screen and (max-width:660px){
    .wrapper-services{
        .title-container{
            @include dimension(1300px, 200px);
            @include flexbox(center, center);
            margin: 20px;
        
            .title{
                font-size: 50px;
            }
        }
    
        .services-card-container{
            @include container;
            @include flexbox(space-around, center, row, wrap);
            min-height: 1000px;
            margin: 40px;
            
            .service-card{
                @include flexbox(space-between, center, column);
                margin: 20px;
    
                .info-container{
                    @include dimension(300px, 100px);
                    @include flexbox(space-between, center, column);
    
                    .service-title{
                        @include h3;
                        font-size: 20px;
                        font-weight: 700;
                        margin-top:10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:661px) and (max-width:1200px){
    .wrapper-services{
        .title-container{
            .title{
                font-size: 60px;
            }
        }
    
        .services-card-container{
            @include container;
            @include flexbox(space-around, center, row, wrap);
            min-height: 1000px;
            margin: 40px;
            
            .service-card{
                @include flexbox(space-between, center, column);
                margin: 20px;
    
                .info-container{
                    @include dimension(300px, 100px);
                    @include flexbox(space-between, center, column);
    
                    .service-title{
                        @include h3;
                        font-size: 20px;
                        font-weight: 700;
                        margin-top:10px;
                    }
                }
            }
        }
    }
}