@use '../../variable/font';
@use '../../variable/color';
@import '../../mixin/mixin';

.content-wrapper{
    @include wrapper;
    background-color: color.$bgWrapperDark;

    .title-container{
        @include dimension(1300px, 200px);
        @include flexbox(center, center);
        margin: auto;
    
        .title{
            font-family: font.$primary;
            font-weight: 400;
            font-size: 70px;
            letter-spacing: 10px;
            text-transform: uppercase;
            text-align: center;
            color: color.$textWhite;
        }
    }

    .content-container{
        @include container;
        min-height: 700px;
        @include flexbox(center, center,row, wrap);

        .info-container{
            @include dimension(700px,320px);
            @include flexbox(space-between, center, column);

            .info{
                @include info;
                text-align: justify;
                margin: 20px;
                color: color.$textWhite;
            }
        }

        .image-container{
            @include dimension(500px, 500px);
            display: flex;
            justify-content:flex-end;

            img{
                @include dimension (500px, auto);
                border-radius: 4px;
                box-shadow: 2px 2px 12px black;
            }
        }
    }
}

@media screen and (max-width: 860px){
    .content-wrapper{
    
        .title-container{
            @include dimension(500px, 200px);
            
            .title{
                font-size: 70px;
            }
        }
    
        .content-container{
            min-height: 300px;
            @include flexbox(space-around, center,row, wrap);
    
            .info-container{
                @include flexbox(center, center, column);
    
                .info{
                    text-align: justify;
                    margin: 20px;
                }
            }
    
            .image-container{
                @include dimension(500px, 500px);
                display: flex;
                justify-content:center;
    
                img{
                    @include dimension (500px, auto);
                    border-radius: 4px;
                    box-shadow: 2px 2px 12px black;
                }
            }
        }
    }
}
