@use '../../variable/color';
@use '../../variable/font';
@import '../../mixin/mixin';

.home-hero-wrapper{
    @include wrapper;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/home/audi.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top:100px;

    .home-hero-container{
        @include dimension (1200px, 200px);
        @include flexbox(flex-start, flex-start, column);
        margin: auto;

        .home-title{
            max-width: 700px;
            width: 100%;
            min-height: 30px;
            font-family: font.$primary;
            font-weight: 200;
            font-size: 90px;
            letter-spacing: 10px;
            color: color.$textWhite;
            line-height: 100px;
            animation: slide-in-title 1.3s ease-in-out;

            @keyframes slide-in-title {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        }

        .home-info {
            @include info;
            @include dimension(750px, 100px);
            color: color.$textWhite;
            line-height: 30px;
            animation: slide-in-info 1s ease-in-out;

            @keyframes slide-in-info {
                0% {
                    transform: translateX(-100%);
                    opacity: 0;
                }
                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }

    }
  
    .car-category-container{
        @include dimension(900px, 100px);
        @include flexbox(space-between, center, row, wrap);
        margin: auto;
        position:relative;
        top:90px;

        img{
            width:200px;
            height: auto;
            border-radius:5px;
            margin-bottom: 20px;
            animation: fade-in 1s ease-in-out;
            transition:0.2s ease-in;
            cursor: pointer;
            box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.285);

            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}

