$textPrimary: #1b1b1b;
$textSecondary: #f9b62f;
$textWhite: white;
$heading: rgb(40, 40, 40);
$bgWrapper: rgb(233, 233, 233);
$bgBtnHover: #fae155;
$bgBtn: #ffcd62;
$iconsHover: #ffcd62;
$icons:#f8f8f8;
$bgBtnActive:  #f8f8f8;
$bgNav: rgb(11, 11, 11);
$bgFooter: rgb(11, 11, 11);
$textNav: white;
$textNavHover:#fae155;
$textLogo:#fae155;
$span: rgb(243, 241, 241);
$orange: rgb(225, 140, 55);