@import './style/mixin/mixin';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


.wrapper{
    padding:120px;

    @include wrapper;
    @include flexbox(center, center, column);
    background-color: rgb(252, 252, 252);

    .card-container{
        @include container;
        @include flexbox(space-around, center, row, wrap);
        margin: auto;
    }
}