@use '../../variable/font';
@use '../../variable/color';
@import '../../mixin/mixin';

.team-wrapper{
    @include wrapper;
    min-height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .team-container{
        @include container;
        @include flexbox(space-between, center, row, wrap);

        .members{
            @include flexbox(space-between, center, column, wrap);
            margin: auto;

            img{
                width: 100px;
                border-radius:50%;
                border:1px solid rgb(125, 125, 125);
                box-shadow: 2px 2px 12px black;

                &:hover{
                    transform: scale(1.05);
                }
            }
        }

        .team-member-container{
            @include dimension(200px, 80px);
            @include flexbox(space-around, center, column);

            .member-name{
                @include h3;
                font-size: 18px;
                font-weight: 700;
            }

            .member-position{
                @include info;
                font-size:14px;
                letter-spacing: 1px;
            }
        }
    }
}